POSTGRES_HOST=db_name
POSTGRES_PORT=5432
POSTGRES_USER=pg_u
POSTGRES_PASSWORD=pg_p
POSTGRES_DATABASE=pg_db

DATABASE_URL="postgres://pg_u:pg_p@db_name:5432/pg_db"
JWT_SECRET="super-secret-dev-key-do-not-use-in-prod"
BASE_URL="http://IP_ADRESSE:3000"
