POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=pg-u
POSTGRES_PASSWORD=pg-p
POSTGRES_DB=pg-db

DATABASE_URL="postgres://pg-u:pg-p@db:5432/pg-db"
JWT_SECRET="super-secret-dev-key-do-not-use-in-prod"
BASE_URL="http://IP_ADRESSE:3000"
