POSTGRES_HOST=domain
POSTGRES_PORT=1234
POSTGRES_USER=pg_u
POSTGRES_PASSWORD=pg_p
POSTGRES_DATABASE=pg_db

DATABASE_URL="postgres://pg_u:pg_p@localhost:1234/pg_db"
JWT_SECRET="super-secret-dev-key-do-not-use-in-prod"
BASE_URL="http://IP_ADRESSE:3000"
